.canvas {
  /* background-image: radial-gradient(#535353 1px, transparent 0);
  background-size: 40px 40px; */
  /* background-position: -19px -19px; */
}

.shape {
  left: var(--left);
  top: var(--top);
  height: var(--height);
  width: var(--width);
  background: var(--background);
  border-radius: var(--border-radius);
  rotate: var(--rotate);
}

.shape__fill {
  position: absolute;
  inset: 0;
  background: var(--background);
  border-radius: var(--border-radius);
}

.shape__fill--triangle {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

/* Selected Shape Input Range */

.selected-shape__range {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}

.shape-controls__slider-slot {
  width: 1.5rem;
  height: 9.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.selected-shape__range--vertical {
  width: 9.5rem;
  height: 1.125rem;
  transform: rotate(-90deg);
  transform-origin: center;
}

.selected-shape__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: var(--slider-width);
  height: var(--slider-width);
  border-radius: 50%;
  background-color: rgb(150, 150, 170);
  transition: all 0.25s ease;
}

.selected-shape__range::-webkit-slider-runnable-track {
  height: 0.75rem;
  border-radius: 9999px;
  background-color: rgb(71, 85, 105);
}

.selected-shape__range:hover::-webkit-slider-thumb {
  transform: scale(1.2);
  background-color: rgb(220, 220, 240);
}
