.canvas {
  /* background-image: radial-gradient(#535353 1px, transparent 0);
  background-size: 40px 40px; */
  /* background-position: -19px -19px; */
}

.shape {
  left: var(--left);
  top: var(--top);
  height: var(--height);
  width: var(--width);
  background: var(--background);
  border-radius: var(--border-radius);
  rotate: var(--rotate);
}

.shape__fill {
  position: absolute;
  inset: 0;
  background: var(--background);
  border-radius: var(--border-radius);
}

.shape__fill--triangle {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
