label {
  display: inline-flex;
  align-items: center;
  margin-right: 2rem;
}

.canvas {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1rem);
  text-align: center;
  position: relative;
}

.cell {
  background: var(--color);
  position: relative;
}

.canvas::before,
.canvas::after,
.cell::before,
.cell::after {
  content: '';
  position: absolute;
  border-radius: 2px;
  background: #888;
  z-index: 1;
  height: 2px;
  width: 2px;
  pointer-events: none;
}
.canvas::before {
  top: -1px;
  right: -1px;
}
.canvas::after {
  bottom: -1px;
  left: -1px;
}
.cell::before {
  top: -1px;
  left: -1px;
}
.cell::after {
  bottom: -1px;
  right: -1px;
}

.cell:hover {
  filter: brightness(0.9);
}
